{% extends "baselocal.html" %}

{% block title %}
    Full List of Tools
{% endblock %}

{% block body %}
    <style>
      .select,
      #locale {
        width: 100%;
      }
      .like {
        margin-right: 10px;
      }
    </style>

  <div style="background:transparent" class="jumbotron jumbotron-fluid">

      <table
        id="table"
        data-toggle="table"
        data-height="460"
        data-click-to-select="true"
        data-side-pagination="client"
        data-url="../../static/json/testdata.json">

          <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th data-field="id">ID</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
              <th data-field="price2">Item Price2</th>
            </tr>
          </thead>
      </table>

  </div>



{% endblock %}
