Click==7.0
Flask==1.0.3
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.4
itsdangerous==1.1.0
pip==19.0.3
setuptools==40.8.0
Flask_WTF==0.14.2
WTForms==2.2.1
Flask_Login==0.4.1
flask_sqlalchemy==2.4.0
pymysql==0.9.3
flask_bcrypt==0.7.1
Requests==2.22.0
sqlalchemy_utils
cryptography