

<!--Import css and JS local files order matters-->
<link href="{{ url_for('static', filename='css/master.css') }}" rel="stylesheet" type="text/css" >


<link href="{{ url_for('static', filename='libraries/css/bootstrap.css') }}" rel="stylesheet" type="text/css" >

<link href="{{ url_for('static', filename='libraries/css/table-bootstrap/bootstrap-table.scss') }}" rel="stylesheet" type="text/javascript">
<link href="{{ url_for('static', filename='libraries/css/bootstrap-grid.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='libraries/css/bootstrap-reboot.css') }}" rel="stylesheet" type="text/css" >
<link href="{{ url_for('static', filename='libraries/css/bootstrap.min.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename='libraries/fontawesome-free-5.7.2-web/css/all.css') }}" rel="stylesheet" >
<script src="{{ url_for('static', filename='libraries/js/jquery-3.3.1.js') }}" type="text/javascript" > </script>
<link href="{{ url_for('static', filename='libraries/css/table-bootstrap/bootstrap-table.min.css') }}" rel="stylesheet" >
<script src="{{ url_for('static', filename='libraries/js/popper.min.js') }}" type="text/javascript" > </script>
<link href="{{ url_for('static', filename='libraries/css/tableexport.min.css') }}" rel="stylesheet" >
<script src="{{ url_for('static', filename='libraries/js/FileSaver.js') }}" type="text/javascript" > </script>
<script src="{{ url_for('static', filename='libraries/js/bootstrap.min.js') }}" type="text/javascript" > </script>
<script src="{{ url_for('static', filename='libraries/js/tableExport.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='libraries/js//jspdf.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='libraries/js/jspdf.plugin.autotable.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='libraries/js/bootstrap-table.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='libraries/js/bootstrap-table-export.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='libraries/css/table-bootstrap/bootstrap-table.js') }}" type="text/javascript" >  </script>

